{% extends "base.html" %}
{% load leaflet_tags %}
{% load static %}
{% block extra_head %}
    {% leaflet_js %}
    {% leaflet_css %}
    <style xmlns:display="http://www.w3.org/1999/xhtml">
        .leaflet-container { height: 500px; width: 600px; }
    </style>
{% endblock %}

{% block content %}
<h1>Past Travels</h1>

{% if lived or visited %}
{% leaflet_map "main" callback="main_map_init" %}
    <div> Choose which country to use in the recommendations:
        <div>Countries you visited:
            {%  if visited %}
                {% for name, enabled in visited %}
                <div>
                    <input id="visited-{{forloop.counter}}" class='country' type="checkbox" value="{{ name }}"
                            {{ enabled }}>
                    <label for="checkbox">{{ name }}</label>
                    <img src="{% static 'checked.gif' %}" style="display:none;" id="visited-{{forloop.counter}}-img">
                </div>
                {% endfor %}
            {% else %}
                <div>None</div>
            {% endif %}
        </div>
        <div>Countries you lived in:
            {%  if lived %}
                {% for name, enabled in lived %}
                    <div>
                        <input id="lived-{{forloop.counter}}" class='country' type="checkbox" value="{{ name }}"
                               {{ enabled }}>
                        <label for="checkbox">{{ name }}</label>
                        <img src="" style="display:none;" id="lived-{{forloop.counter}}-img">
                    </div>
                {% endfor %}
            {% else %}
                <div>None</div>
            {% endif %}
        </div>
    </div>

<script type="text/javascript">
// Handle checkbox updates
var elements = document.querySelectorAll("input.country");
for (var i = 0; i < elements.length; i++) {
    elements[i].addEventListener("change", function () {
        var cb = this;
        fetch('{% url "update_enabled_country" %}', {
            credentials: "same-origin", method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                "X-CSRFToken": '{{ csrf_token }}',
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            body: JSON.stringify({country: this.value, checked: this.checked})
        }).then(response => response.json()
        ).then(function(data){
            if(data['checked'] == cb.checked){
                el = document.getElementById(cb.id + '-img');
                el.style.display="inline";
                el.src="{% static 'check.png' %}";
                setTimeout(function(el){ el.style.display="none";}, 1000, el);
            }
        }).catch(error => console.error(error));
    });
}
</script>

<script type="text/javascript">
// Map rendering of the countries
function style(feature){
    return {
        color: feature.properties.ctype == 'trip' ? '#00aa12' : '#ff7900',
    }
}

    function main_map_init (map, options) {
        var dataurl = '{% url "worldjson" %}';
        // Download GeoJSON via Ajax

        fetch(dataurl, {credentials: "same-origin"})
            .then(function(resp) {
                return resp.json();
            })
            .then(function(data) {
                data = JSON.parse(data);
                var geojsonLayer = L.geoJson(data, {
                    style: style,
                    onEachFeature: function onEachFeature(feature, layer) {
                        var props = feature.properties;
                        var content = '' +
                            `<h3>${props.name}</h3>` +
                            `<p>${props.ctype}</p>`;
                        layer.bindPopup(content);
                    }}).addTo(map);
                map.fitBounds(geojsonLayer.getBounds());
            });
    }
        // Download GeoJSON data with Ajax
</script>
{% else %}
    <p>No visited country loaded yet, please upload a new geoJson file.</p>
{% endif %}
    <p>To load/reload a geoJson file from Google Takeout, click
    <a href="{% url 'loadtakeout' %}">here</a></p>
{% endblock %}
