{% extends "base.html" %}
{% load static %}
{% block extra_head %}

<Style>

.style_prevu_kit
{
    display:inline-block;
    border:0;
    width:300px;
    height:300px;

    padding-top:20px;
    position: inherit;
    -webkit-transition: all 400ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 400ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 400ms ease-in;
    -moz-transform: scale(1);
    transition: all 400ms ease-in;
    transform: scale(1.90);
    margin: 15%;

}

</Style>
{% endblock %}

{% block content %}
    <h1>User Model Chart</h1>
    <div class="style_prevu_kit">
    <canvas id="myChart"></canvas>
        </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="{% static 'chart.js' %}"></script>
        <script type="text/javascript" >
            draw({{ data | safe }});
        </script>

{% endblock %}