{% load static %}
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<div class='container'>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url "home" %}"><b>Home</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
{% if request.user.is_authenticated %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href='{% url "survey" %}'>Survey</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href='{% url "past_travels" %}'>Past travels</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href='{% url "view_model" %}'>View Model</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href='{% url "recommendation_search" %}'>Recommendation</a>
      </li>
        </li>
        <li class="nav-item">
        <a class="nav-link" href='{% url "logout" %}'>Logout</a>
      </li>
    </ul>
      {% else %}
        <a href='{% url "register" %}'>Register</a>&nbsp;
        <a href='{% url "login" %}'>Login</a>&nbsp;
    {% endif %}

    </div>
</nav>
<div class='row text-center'>
<div class='col-sm-6 col-sm-offset-3'>
    <h1>Adaptive Travel Planner</h1></div></div>
</div>