{% extends "base.html" %}

{% block head_title %}{{ user.username }} | {{ block.super}}{% endblock head_title %}

{% block content %}
    <div class='row'>
        <div class='col-sm-6 text-center col-sm-offset-3'>
            <h1>{{ user.username }}</h1>
            <p>Here goes your profile information</p>
            <form class='form' method='GET' action='../'>
                <input type='text' placeholder="Search.." name='q' value='{{ request.GET.q }}'>
                <button class='btn btn-default' type='submit'>Search</button>
            </form>
            <hr/>
        </div>
    </div>
{% endblock %}