{% extends "base.html" %}

{% load static %}
{% block extra_head %}
  <style xmlns:display="http://www.w3.org/1999/xhtml">
    .thumb-grey {
      font-size: 30px;
      cursor: pointer;
    }

    #discover, #random, #results {
        float: left;
        width: 100%;
        padding: 10px;
    }

    {#<body bgcolor="#E6E6FA">#}

  </style>
  {{ block.super }}
  <link rel="stylesheet" type="text/css"
        href="{% static 'search_tiles.css' %}"/>
{% endblock %}
{% block content %}
  <form>
    <div align="center">
      <span><input type="radio" name="city" value="Dublin" checked><b>Dublin</b></span>&nbsp;
        <span><input type="radio" name="city" value="London" ><b>London</b></span>&nbsp;
        <span><input type="radio" name="city" value="Sydney, NSW" ><b>Sydney</b></span>&nbsp;
    </div>
  <div align="center"><span><input type="button" id="search" value="Search"></span></div>
  </form>

  <div id="results">
    <h3><b>Results:</b></h3>
    <p>Nothing yet! Choose a city and click search.</p>
  </div>
      <div id="discover">
  </div>
      <div id="random">
  </div>

  <script type="text/javascript">
      // Handle checkbox updates
      document.getElementById('search').addEventListener(
          "click", function() {
              let city = document.querySelector(
                  'input[name="city"]:checked').value;

              console.log("click: " + city)
              fetch('{% url "get_results" %}', {
                  credentials: "same-origin", method: 'POST',
                  headers: {
                      'X-Requested-With': 'XMLHttpRequest',
                      "X-CSRFToken": '{{ csrf_token }}',
                      "Accept": "application/json",
                      "Content-Type": "application/json"
                  },
                  body: JSON.stringify({city: city})
              }).then(response => response.json()
              ).then(function(data){
                  console.log(data['results']);
                  let taste_div, discover_div, random_div;

                  for (let resto of data['results'].entries()) {
                      let element = getHTMLNodeFromObject(resto[0], resto[1]);
                      if (resto[1].origin == 'taste') {
                          if (taste_div === undefined) {
                              taste_div = document.getElementById('results');
                              taste_div.innerHTML = `<h3><b>Recommended based on your tastes: </b></h3><br>`;
                          }
                          taste_div.appendChild(element);
                      } else if (resto[1].origin == 'discover'){
                          if (discover_div === undefined) {
                              discover_div = document.getElementById('discover');
                              discover_div.innerHTML = `<h3><b>Recommended based on similar cuisines to your tastes: </b></h3><br>`;
                          }
                          discover_div.appendChild(element);
                      } else if (resto[1].origin == 'random'){
                          if (random_div === undefined) {
                              random_div = document.getElementById('random')
                              random_div.innerHTML = `<h3><b>Recommended from other cuisines: </b></h3><br>`;
                          }
                          random_div.appendChild(element);
                      }
                      setEventThumb(element, resto[0]);
                  }

              }).catch(error => console.error(error));
          });

      function getHTMLNodeFromObject(id, obj) {
          let e = document.createElement('div');
          e.setAttribute('id', `resto-${id}`);
          imgsrc = obj.thumb === '' ? '{% static 'no_image.png' %}' :
              obj.thumb;
          e.innerHTML = `
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="image-flip">
    <div class="mainflip">
      <div class="frontside">
        <div class="card">
          <div class="card-body text-center">
            <p><img class=" img-fluid" id="img" src="${imgsrc}"></p>
            <h4 class="card-title">${obj.name} (${obj.cuisines})</h4>
            <p class="card-text">
            <div ><b>${obj.address}</b></div><br>
            <div>Rating: ${obj.rating} (${obj.nb_votes})</div>
            <div>
              <span class="thumb-grey" id="thumbup-${id}">&#128077;</span>
              <span class="thumb-grey" id="thumbdown-${id}">&#128078;</span>
            </div>
            </p>
          </div>
        </div>
      </div>
      <div class="backside">
        <div class="card">
          <div class="card-body text-center">
            <p class="card-text">
            </p>
            <ul class="list-inline">
              <li class="list-inline-item">
              test back
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
{#                    <div class="card" style="width: 18rem;">#}
{#  <img class="card-img-top" src="${obj.thumb}" alt="Card image cap">#}
{#  <div class="card-body">#}
                    {#<div class =""><b>${obj.name} (${obj.cuisines})#}
                    {#(${obj.origin})</b></div>#}
                    {#<div >${obj.address}</div>#}
                    {#<div><img src="${obj.thumb}" width="100px"></div>#}
                    {#<div>Rating: ${obj.rating} (${obj.nb_votes})</div>#}
                    {#<div>#}
                      {#<span class="thumb-grey" id="thumbup-${id}">up &#128077;</span>#}
                      {#<span class="thumb-grey" id="thumbdown-${id}">down &#128078;</span>#}
                    {#</div>#}
       {#</div>#}
    {#</div>#}
                    `;
          return e;
      }

      function setEventThumb(el, id) {
          el.querySelector(`#thumbup-${id}`).addEventListener('click',
              function () {
                  thumbUp(this);
              }
          )
          el.querySelector(`#thumbdown-${id}`).addEventListener('click',
              function () {
                  {#this.closest('.image-flip').classList.toggle('flipped');#}
                  thumbDown(this);
              }
          )
      }

      function thumbUp(element) {
          if (element.hasAttribute('clicked')) {
              updateWeightInServer(element, 0, function (element) {
                  thumbGrey(element);
                  removeSelectedStyle(element);
              });

          } else {
              updateWeightInServer(element, +1, function (element) {

                  element.style.color = "green";
                  element.setAttribute('clicked', 'true');
                  let otherThumb = document.getElementById(
                      element.id.replace("thumbup", "thumbdown"));
                  thumbGrey(otherThumb);
                  removeSelectedStyle(element);
                  element.closest('.image-flip').classList.add('resto-selected');
              });
          }
      }

      function thumbDown(element) {
          if (element.hasAttribute('clicked')) {
              updateWeightInServer(element, 0, function (element) {
                  thumbGrey(element);
                  removeSelectedStyle(element);
              });
          } else {
              updateWeightInServer(element, -1, function (element) {
                  element.style.color = "red";
                  element.setAttribute('clicked', 'true');
                  let otherThumb = document.getElementById(
                      element.id.replace("thumbdown", "thumbup"));
                  thumbGrey(otherThumb);
                  removeSelectedStyle(element);
                  element.closest('.image-flip').classList.add('resto-negative');
              });
          }
      }
        function removeSelectedStyle(element){
            element.closest('.image-flip').classList.remove('resto-selected');
            element.closest('.image-flip').classList.remove('resto-negative');
        }
      function thumbGrey(element) {
          if (element.hasAttribute('clicked')) {

              element.removeAttribute('clicked');
              element.style.color = "";
              element.style.fontSize = "";
          }
      }

      function updateWeightInServer(element, feedback, onsuccess) {
          ajaxRequest('{% url 'resto_feedback' %}', {
              'resto-id': element.id.split('-')[1],
              feedback: feedback,
          }).then(
              function (data) {
                  if (data['response'] === true) {
                      onsuccess(element);
                  }
              }).catch(error => console.error(error));
      }

      function ajaxRequest(url, payload) {
          return fetch(url, {
              credentials: "same-origin", method: 'POST',
              headers: {
                  'X-Requested-With': 'XMLHttpRequest',
                  "X-CSRFToken": '{{ csrf_token }}',
                  "Accept": "application/json",
                  "Content-Type": "application/json"
              },
              body: JSON.stringify(payload)
          }).then(response => response.json());
      }

      {#document.getElementById('img').addEventListener('error',function () {#}
      {#image.onerror = "";#}
      {#  image.src = "https://www.pexels.com/photo/burrito-chicken-delicious-dinner-461198/";#}
      {#  return true;})#}


  </script>
{% endblock %}
